body{
    background-image: url(../images/pexels-alex-andrews-821754.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.formdiv{
    background-color: rgba(255, 255, 255, 0.3);
    width: 300px;
    height: 550px;
    padding: 15px;
    margin: 150px auto;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-align: center;
    border: groove blue;
}

img{
    height: 150px;
    width: 150px;
    margin-top: -90px;
    padding-bottom: 10px;
}

input{
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 10px black;
    width: 230px;
}

textarea{
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 10px black;
}

button{
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    
}

a{
    font: 1em sans-serif;
     
}