body{
    background-image: url(../images/joanna-kosinska-1_CMoFsPfso-unsplash\ \(1\).jpg);
    background-size: cover;
}

.logform{
 background-color: rgba(255,255, 255, 0.2);   
 width: 300px;
 height: 400px;
 padding: 15px;
 margin: 150px auto;
 border-radius: 20px;
 box-shadow: 0 0 10px black;
 text-align: center;
}
img{
    height: 150px;
    width: 150px;
    margin: -90px ;
    padding-bottom: 90px;
}


input{
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    outline: none;
    width: 200px;
    padding: 5px;
    
}

::placeholder{
    color: red;
}
button{
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
}

